.FetchBookAPI ul {
  display: flex;
  list-style-type: none;
}

.FetchBookAPI li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FetchBookAPI h3 {
  font-size: 14px;
}
.FetchBookAPI p {
  font-size: 12px;
}
.FetchBookAPI img {
  height: 100px;
  height: 100px;
}
