.QuoteConontainer {
  margin: 50px auto;
}
.QuoteConontainer blockquote {
  position: relative;
  border: 1px solid #a3c7db;
  background: #ffffff;
  padding: 20px;
}
.QuoteConontainer blockquote:before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -24px;
  background-color: #a3c7db;
  color: #ffffff;
  border: 2px solid #a3c7db;
  box-sizing: border-box;
  font-family: "FontAwesome";
  content: "\f10d";
  line-height: 1;
  padding-top: 12px;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 20px;
  border-radius: 24px;
}
.QuoteConontainer blockquote p {
  color: #d8b08c;
  font-size: 40px;
  text-align: center;
  background: #ffffff;
}
.QuoteConontainer blockquote cite {
  display: block;
  padding-top: 10px;
  font-size: 0.8rem;
  text-align: right;
  color: #808080;
  background: #ffffff;
}
